<div class='bigOContainer'>
  <div class='title'>Big O</div>
  <div class='introduction'>In computer science, big O notation is used to classify algorithms according to how their running time or space requirements grow as the input size grows.</div>

  <div class='firstMessage' *ngIf="bigOData.length > 0">
    <div class='header'>
      <div class='firstTitle'>{{bigOData[bigOData.length - 1].title | uppercase}} </div>
      <div class='firstDate'>{{bigOData[bigOData.length - 1].time | date: 'mediumDate'}}</div>
    </div>

    <div class='body'>
      <div class='firstHalf'>
        <ul>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].first}}</li>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].second}}</li>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].third}}</li>
        </ul>
      </div>

      <div class='secondHalf'>
        <ul>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].fourth}}</li>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].fifth}}</li>
          <li class='liStyle'>{{bigOData[bigOData.length - 1].sixth}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div class='otherMessagesContainer' *ngFor='let type of bigOData; index as i'>
    <div *ngIf='i < bigOData.length - 1'>
      <div class='otherMessages'>

        <div class='otherHeader'>
          <div class='otherTitle'>{{type.title | uppercase}} </div>
          <div class='otherDate'>{{type.time | date: 'mediumDate'}}</div>
        </div>

        <div class='otherBody'>
          <div class='otherFirstHalf'>
            <ul>
              <li class='liStyle2'>{{type.first}}</li>
              <li class='liStyle2'>{{type.second}}</li>
              <li class='liStyle2'>{{type.third}}</li>
            </ul>
          </div>
          <div class='otherSecondHalf'>
            <ul>
              <li class='liStyle2'>{{type.fourth}}</li>
              <li class='liStyle2'>{{type.fifth}}</li>
              <li class='liStyle2'>{{type.sixth}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>