<div class='sidenav'>
    <a [routerLink]="['/home']">home</a>
    <a [routerLink]="['/bigO']">big O</a>
    <a (click)="stateDataStructures()">{{dataStructures ? '↿data structures' : '⇃data structures'}} </a>
      <a class='innerList' *ngIf='dataStructures'> ↳ linked list</a>
      <a class='innerList' *ngIf='dataStructures'> ↳ binary trees</a>
      <a class='innerList' *ngIf='dataStructures'> ↳ hash tables</a>
    <a>sorting</a>
    <a>recursion</a>
    <a>assorted algorithms</a>
</div>

<router-outlet></router-outlet>
