<div class='homeContainer'>
  <div class='title'>
    <span style='color: #4285F4'>G</span>
    <span style='color: #DB4437'>e</span>
    <span style='color: #F4B400'>t</span>
    <span style='color: #4285F4; margin-left: 10px'> t</span>
    <span style='color: #0F9D58'>o</span>
    <span style='color: #DB4437; margin-left: 10px'> G</span>
    <span style='color: #4285F4'>o</span>
    <span style='color: #DB4437'>o</span>
    <span style='color: #F4B400'>g</span>
    <span style='color: #4285F4'>l</span>
    <span style='color: #0F9D58'>e</span>
  </div>
  <div class='introduction'>
    <div class='introText'>This is the documentation of my journey applying to Google. I will be submitting and writing all my notes, as well as all the problems and solutions that I encounter along the way. This will be updated as I continue on my process.</div>
  </div>

  <div class='daily' *ngIf='dailyTasks.length > 0'>
    <div class='arrow' (click)='leftTask()'><p class='arrow'>⥢</p></div>
    <div class='task'>
      <div class='date'>{{dailyTasks[taskIndex].time | date: 'mediumDate'}}</div>
      <p>{{dailyTasks[taskIndex].dailyTask}}</p>
    </div>
    <div class='arrow' (click)='rightTask()'><p class='arrow'>⥤</p></div>
  </div>
</div>

<router-outlet></router-outlet>